COMPOSE_PROJECT_NAME=io-fn-cgn-merchant

COSMOSDB_PORT=3000
API_GATEWAY_PORT=80

FUNCTIONS_WORKER_RUNTIME=node
CGN_MERCHANT_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://fnstorage:10000/devstoreaccount1;QueueEndpoint=http://fnstorage:10001/devstoreaccount1;TableEndpoint=http://fnstorage:10002/devstoreaccount1;
AzureWebJobsStorage=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://fnstorage:10000/devstoreaccount1;QueueEndpoint=http://fnstorage:10001/devstoreaccount1;TableEndpoint=http://fnstorage:10002/devstoreaccount1;
FUNCTIONS_V2_COMPATIBILITY_MODE=true

# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0

CGN_MERCHANT_LEASE_BINDINGS_TABLE_NAME=cgnmerchantlease
REDIS_URL=redis://redis
REDIS_TLS_ENABLED=false
